<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title>
        <link rel="stylesheet" href="/styles.css"> 
    </head>
<body>

    <%- include('partials/navbar') %>
    
    <h1><%= title %></h1>
    <ul>
        <% cards.forEach(card => { %>
            <li>
                <a href="/cards/<%= card.id %>"> <!-- Lien vers la page de détails -->
                    <img src="<%= card.image %>/high.webp" alt="<%= card.name %>">
                </a>
            </li>
        <% }) %>
    </ul>
</body>
</html>