<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/footer.css">
</head>

<body>
    <%- include('partials/navbar') %>

        <h1>
            <%= title %>
        </h1>
        <ul>
            <% cards.forEach(card=> { %>
                <li>
                    <a href="/cards/<%= card.id %>">
                        <img src="<%= card.image %>/high.webp" alt="<%= card.name %>">
                    </a>
                    <p><strong>
                            <%= card.name %>
                        </strong></p>
                    <div class="card-counter" data-card-id="<%= card.id %>">
                        <button class="decrement">-</button>
                        <span class="quantity">
                            <%= card.quantity || 0 %>
                        </span>
                        <button class="increment">+</button>
                    </div>
                </li>
                <% }) %>
        </ul>

        <%- include('partials/footer') %>

            <script src="/scripts/cardCounter.js"></script>
</body>

</html>