<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/footer.css">
    <link rel="stylesheet" href="/styles/modal.css">
</head>

<body>
    <%- include('partials/navbar') %>
        <h1>Profil de <%= user.username %>
        </h1>
        <div class="profile-container">
            <div class="profile-info">
                <p><strong>Nom d'utilisateur :</strong>
                    <%= user.username %>
                </p>
                <p><strong>Email :</strong>
                    <%= user.email %>
                </p>
                <p><strong>Nom en jeu :</strong>
                    <%= user.inGameName %>
                </p>
                <p><strong>Code ami :</strong> <span id="friendCodeDisplay">
                        <%= user.friendCode %>
                    </span></p>
            </div>
            <div class="profile-actions">
                <a href="/profile/modify"><button id="editProfileButton">Modifier le profil</button></a>
                <button id="deleteAccountButton">Supprimer le compte</button>
            </div>
        </div>

         <!-- Modal for deleting account -->
        <div id="deleteModal" class="modal">
            <div class="modal-content">
                <h2>Confirmer la suppression</h2>
                <p>Êtes-vous sûr de vouloir supprimer votre compte ? Cette action est irréversible.</p>
                <div class="modal-buttons">
                    <form action="/profile/delete" method="POST">
                        <button type="submit" class="modal-warning" >Oui, supprimer</button>
                    </form>
                    <button id="cancelButton">Annuler</button>
                </div>
            </div>
        </div>
        <%- include('partials/footer') %>
            <script src="/scripts/modal.js"></script>
</body>