<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link rel="stylesheet" href="/styles/footer.css">
</head>

<body>
    <%- include('partials/navbar') %>

    <h1>Profil de <%= user.username %></h1>

    <h2>Cartes possédées :</h2>
    <ul>
        <% cards.forEach(card => { %>
            <li>
                <p><strong><%= card.name %></strong></p>
                <img src="<%= card.image %>/high.webp" alt="<%= card.name %>" width="200">
                <p>Quantité : <%= card.quantity %></p>
            </li>
        <% }) %>
    </ul>

    <%- include('partials/footer') %>
</body>

</html>